html{
    height: 100%;

}
body{
    background: url('./képek/background.jfif');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:1.5em;
    padding: 0;
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.doboz{
 overflow: hidden;
 margin: auto;
 width: 90%;
}

#clear{
    clear: both;
}
#FőFejléc{   
    background-color: rgb(36, 118, 23);
    color: white;
    text-align: center;
}
#Navigáció{
    
    background: rgb(174, 206, 179);
    color: black;
}
#Navigáció ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
#Navigáció li{
    display: inline;
    padding: 5px 10px;
    
}
#Navigáció a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
#Navigáció li:hover{
    background: rgb(140, 218, 152);
}
#szöveg{
    background-color:rgb(215, 253, 220);
    margin-top:50px;
    float: right;
    width: 70%;
    padding:0px 30px;  
    box-sizing: border-box;
    
}

#kép{
margin-top: 10px;
float:left;
width: 30%;
padding: 10px;
box-sizing: border-box;
}
#kép img {
    max-width: 100%;
    max-height: 50%;
}
#lábléc{
    background: rgb(174, 206, 179);
    color: black;
    width: 100%;
    display: inline;
    height:70px;
    margin-top: 20px;
    
}
#lábléc ul{
    display: inline;
    list-style: none;
    
}
#lábléc a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    float: left;
    
}
#lábléc li{
   display: inline;
   text-align: right;
   float: right;
   margin-top: 25px;
   margin-right: 10px;
   font-size: 20pt;
}
#lábléc li:hover{
    background: rgb(140, 218, 152);
}

@media (max-width:800px){
    #szöveg, #kép {
      width: 100%;
      float: none;
      border: none;
    }
    }
#Kapcsolat{
        background-color:rgb(215, 253, 220);  
        width: 90%;
        
        margin: auto;
        margin-top: 20px;
        box-sizing: border-box;
        padding: 10px 30px;
    }

#szöveg_dokumentáció{     
    background-color:rgb(215, 253, 220);
    margin-top:50px;
    width: 100%;
    padding: 10px 30px;  
    box-sizing: border-box;    
    }
#szöveg_dokumentáció img{
    max-width: 30%;
    max-height: 50%;
    margin: 10px;
    }

 